@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
img{
  width: 100vw;
}
#page2{
  display: none;
}
#page1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: #A4A5AA;
  text-align: center;
  height: 100vh;
}
#page1 img{
  width: 25%;
  margin-bottom: 20px;
}
p{
  padding:0 30px;
}